.root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --bg-primary: #202020;
  --bg-secondary: #1b1b1b;
  --bg-footer: #282323;
  --primary-color: #e5e5e5;
  --secodary-color: #f65282;
  --border-radius: 50px;
  --section-margin: 100px;
  --gallery-margin: 40px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 900px;
  font-weight: 900;
  line-height: 84px;
  letter-spacing: 0.1em;
}

img {
  width: 300px;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  border-radius: 10px;
}

footer {
  margin-top: 50px;
  padding: 20px 0px;
  background: #282323;
}

.navbar {
  background: #202020;
}

.bg {
  background-color: #1b1b1b;
}

.bg-img {
  background-image: url("images/bg-image2.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.image {
  height: 400px;
}

.image-div {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 60px;
  justify-content: center;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.name {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.icons span a {
  color: #fff;
}

/* About Me page*/
.flex-this {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.main-image img {
  width: 100%;
  height: auto;
}

.about {
  color: #f65282;
}

.hambuger {
  display: block;
  position: relative;
  width: 35px;
  appearance: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.hambuger .bar,
.hambuger::after,
.hambuger::before {
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  transition: 0.4s;
  background-color: #fff;
  margin: 6px 0px;
}

.hambuger.is-active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hambuger.is-active::after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hambuger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  margin-top: 50px;
  transition: 0.4s;
  z-index: 98;
  background-color: #202020;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  max-width: 288px;
  width: 100%;
  text-align: center;
  margin: 0 auto 16px;
  padding: 6px 8px;
  width: fit-content;
}

/*Contact me page*/
.contact-icons {
  width: 10px;
}


@media (max-width: 800px) {
  .image-div {
    display: grid;
    grid-template-columns: 300px;
    gap: 10px;
    margin: 0px;
    padding: 0px;
  }

  .links a.active {
    color: #f65282;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flex-this {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .hambuger {
    display: none;
  }
}
