.root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --bg-primary: #202020;
  --bg-secondary: #1b1b1b;
  --bg-footer: #282323;
  --primary-color: #e5e5e5;
  --secodary-color: #f65282;
  --border-radius: 50px;
  --section-margin: 100px;
  --gallery-margin: 40px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 900px;
  font-weight: 900;
  line-height: 84px;
  letter-spacing: 0.1em;
}

img {
  width: 300px;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  border-radius: 10px;
}

footer {
  margin-top: 50px;
  padding: 20px 0px;
  background: #282323;
}

.navbar {
  background: #202020;
}

.bg {
  background-color: #1b1b1b;
}

.bg-img {
  background-image: url("images/bg-image2.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.image {
  height: 400px;
}

.image-div {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 60px;
  justify-content: center;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.name {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.icons span a {
  color: #fff;
}

/* About Me page*/
.flex-this {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.main-image img {
  width: 100%;
  height: auto;
}

.about {
  color: #f65282;
}

@media (max-width: 800px) {
  .image-div {
    display: grid;
    grid-template-columns: 300px;
    gap: 10px;
    margin: 0px;
    padding: 0px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flex-this {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
